//architecture of the responsive site
.base{
	padding:24px 12px;
	max-width:1050px;
	margin:0 auto;
	min-height:100%;
	margin-bottom: -56px; 
}

.header{
	@include row-wrap(flex-start);
	align-items: center;
	margin-bottom:30px;
}
.head1,.head2{ flex: 1 50%;}
.head2{ position: relative;}
.head3{ flex: 2 100%;margin-top:24px;position:relative;}

.headline{ margin:30px 0;flex: 2 100%;}

.head2:hover > .drop-down{
	display: block;
}

.drop-down{
	display: none;
	background-color: #fff;
	border: 1px solid $gray60;
	border-radius: 2px;
	padding: 0px 12px 12px 12px;
	position: absolute;
	top: 30px;
	left: 10px;
	box-shadow: 0 0 4px #F0EAEA;
	a{
		color: $gray100;
		font:bold 13px/1 "acumin-pro-semi-condensed";
		text-align: center;
	}
}

.search{
	input{
		width: 100%;
		background: url(/static/images/searchicon.svg) no-repeat scroll 16px 16px;
		background-size:16px;
		padding: 14px 16px 14px 48px;
		border: 1px solid $gray60;
		border-radius:3px;
		z-index: 10;
	}
	input:focus{
		border:1px solid $primary;
		-webkit-transition:border 0.4s linear;
	}
}

.results{
	position:absolute;
	width:100%;
	border:1px solid $primary; 
	border-top:none;
	border-bottom:none;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(209,209,209,0.6);
}
.result-item{
	@include row-wrap(space-between);
	align-items:center;
	background-color: $gray20;
	border-bottom: 1px solid $primary;
	padding: 12px 30px;
}
.result-item:hover{
	background-color: $regular;
	cursor:pointer;
}

.main{
	@include row-wrap(flex-start);
}
.main > * {
	flex: 1 100%;
}
.chip{
	@include row-wrap(flex-start);
	margin-right: 12px;
	margin-bottom:10px;
	//delete icon:
	img{ width: 12px; margin-left: 8px;}
	img:hover{ cursor:pointer;}
	display: inline-block;
}
button:hover{cursor:pointer;}
//shows =================
.shows-container{ margin-bottom:24px;}
.shows{
	@include row-wrap(flex-start);
	.button{
		max-width: 98px;
	}
}
.controls-container{ 
	width:100%;
	@include row-wrap(flex-start);
	order:2;
}
.controls{
	@include row-wrap(flex-start);
	align-items: center;
	margin-bottom:8px;
	margin-right:32px;
}

.shows-wrapper{
	order:1;
	margin-bottom:8px;
	@include row-wrap(flex-start);
	h3{ display:none;}
	.chip{
		@include row-wrap(flex-end);
		align-items:center;
		margin-right: 12px;
	}
}

//login pop up ===========
#cover{
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.82);
	z-index:5;
}

.popup{
	position: fixed;
	height:350px;
	width:370px;
	left: 50%;
	top:0px;
    transform: translate(-50%, 0);
	background-color: #fff;
	z-index:10;
	padding:55px 60px;
}
.login{
	position:absolute;
	bottom:55px;
}
.login-message{
	margin-top:18px;
}
#newpassword{
	display:inline-block;
	margin-left:-50px;
}
.popup-submit{
	@include row-wrap(space-between);
}


//footer =================
footer{
	padding:0 12px;
	height:56px;
	background-color:#ffffff;
	// border-top:1px solid $gray20;
	@include row-wrap(flex-start);
	align-items:center;
	div{flex:1 50%;}
	.api{
		@include row-wrap(flex-end);
	}
}

//600px width ========
@media screen and (min-width: 600px) {
	.popup{top:140px;}
}	
//full width layout ========
@media screen and (min-width: 740px) {
	.base{
		padding:48px 32px;
	}

	//header when a userShows.length > 0
	.headershows{
		.head1{ flex:3 30%;}
		.head2{
			order:3;
			flex:1 9%;
			align-self:flex-start;
		}
		.head3{ 
			flex:6 61%;
			margin:0;
		}
		.headline{ order:4;flex: 3 100%;}
	}

	//header for start page
	.noshows {
		.head1 { 
			order:3;
			flex:2 30%;
			align-self:flex-end;
			margin-bottom: 6px;
		}
		.head2 { order:1; flex:5 100%;}
		.head3 { order: 4; flex:3 60%;form{ max-width:500px;.results{max-width:500px;}}}
		.headline {
			order:2; 
			flex:5 100%;
			margin: 65px 0;
		}
	}

	.main{margin-top: 90px;}
	.search-header{ display:inline; }
	.lists-container { flex:13 62%;}
	.shows-container{ 
		flex: 6 30%; 
		display:inline;
		margin-bottom: 0;
	}
	.right-column{ flex:1 8%;}

	//shows
	.shows{ @include row-wrap(flex-start);}
	.shows-wrapper{
		order:3;
		margin-top: 26px;
		@include column(flex-start);
		align-items:flex-start;
		h3{ margin-bottom: 24px; display:inline-block;margin-right:20px;}
		.chip{margin-right:8px;}
	}
	footer{padding:0 32px;}
}