<!DOCTYPE html>
<html>
    <head lang="en">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
        <title>Airdate</title>

        <!-- load stuff, remember to move js to the bottom when finished-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <link rel="stylesheet" href="../static/css/style.min.css" />    
        <script src="https://use.typekit.net/emv7ovo.js"></script>
        <script>try{Typekit.load({ async: false });}catch(e){}</script>
        <script src="../static/js/main.js"></script>

    </head>
    <body ng-app="airdate" ng-controller="mainController">
        <div class="base">

            <section class="header" ng-class="userShows.length == 0 ? 'noshows' : 'headershows'">   
                <div class="head1">
                    <a href="/app"><img src="./static/images/airdatelogo.png" id="logo"></a>
                </div>
                <div class="nav head2"></div>
                <div class="headline" ng-show="userShows.length == 0">
                    <h1>Get shedules for your favourite TV Shows. Add episodes to your calendar with just one click.</h1>
                </div>
                <div class="search head3">
                    <form ng-submit="search()" >
                        <input ng-model="searchTerm" placeholder="What TV Shows do you watch?" autofocus/>
                        <div class="results" ng-hide="searching">
                            <div class="result-item" ng-repeat="item in searchResults" 
                                    ng-click="select(item.show.name, item.show.id, item.show.premiered)">
                                <p class="result-name">{{ item.show.name }}</p>
                                <p class="date">{{ item.show.premiered.substring(0,4) }}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            
            <section class="main" ng-include="'./static/partials/main.html'"></section>
        </div>
        <footer ng-include="'./static/partials/footer.html'"></footer>
    </body>
</html>