<!DOCTYPE html>
<html>
	<head lang="en">

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
		<meta name="google-site-verification" content="qg3Jja9pGqxnPHpBwTXhnOSdmcM6_DGQl2EgH2JWt88" />
		<title>Airdate</title>

		<!-- load stuff, remember to move js to the bottom when finished-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<link rel="stylesheet" href="../static/css/style.min.css" />
		<script src="https://use.typekit.net/emv7ovo.js"></script>
		<script>try{Typekit.load({ async: false });}catch(e){}</script>
		<script src="../static/js/main.js"></script>

	</head>
	<body ng-app="airdate" ng-controller="mainController">

		<!-- pop up log in/signup menu -->
		<div id="cover" ng-show="showSignup || showLogin">
			<div class="popup">

				    <h2 id="popup-header" ng-bind="showLogin ? 'Login.' : 'Signup.' ">Login</h2>
				    <img src="./static/images/clear.png" id="close" ng-click="showLogin = false; showSignup = false">
				    <!-- show any messages that come back with authentication -->
				    <div class="login-message">
				    <% if (message.length > 0) { %>
				        <div class="alert alert-warning"><%= message %></div>
				    <% } %>
				    </div>
				   	<!-- login form -->
					 <form action="/login" method="post" class="login" ng-show="showLogin">
				        <div class="login-email">
				            <input type="text" name="email" placeholder="Email">
				        </div>
				        <div class="login-password">
				            <input type="password" name="password" placeholder="Password" style="padding-right:55px;">
				           	<a href="/forgot" id="newpassword">Forgot?</a>
				        </div>
				        <div class="popup-submit">
				        	<button type="submit" class="button button-primary">Log In</button>
				        	<div id="noaccount">
				        		<h5>Don't have an account?</h5>
				        		<a ng-click="showSignup = true; showLogin = false">Sign Up.</a>
				        	</div>
				        </div>
				    </form>

				    <!-- sign up form -->
					<form action="/signup" method="post" class="login" ng-show="showSignup">
				        <div class="signup-email">
				            <input type="text" name="email" placeholder="Email">
				        </div>
				        <div class="signup-password">
				            <input type="password" name="password" placeholder="Password">
				        </div>
				        <div class="signup-password">
				            <input type="password" placeholder="Confirm Password">
				        </div>
				        <div class="popup-submit">
				        	<button type="submit" class="button button-primary">Sign Up</button>
				        	<div id="noaccount">
				        		<h5>Already have an account?</h5>
				        		<a ng-click="showLogin = true; showSignup = false">Log In.</a>
				        	</div>
				        </div>
				    </form>

			</div>
		</div>

		<div class="base">

			<section class="header" ng-class="userShows.length == 0 ? 'noshows' : 'headershows'">
				<div class="head1">
					<a href="/"><img src="./static/images/airdatelogo.png" id="logo"></a>
				</div>
				<div class="nav head2">
					<!-- <a href="#"><div class="button button-regular">Share</div></a> -->
					<a href="#"><div class="button button-primary" ng-click="showLogin = !showLogin">Log In</div></a>
				</div>
				<div class="headline" ng-show="userShows.length == 0">
					<h1>Stay on top of your TV shows. <br>Check off	 episodes you have watched.</h1>
				</div>
				<div class="search head3">
					<form ng-submit="search()" >
						<input ng-model="searchTerm" placeholder="What TV Shows do you watch?" autofocus/>
						<div class="results" ng-hide="searching">
							<div class="result-item" ng-repeat="item in searchResults"
									ng-click="select(item.show.name, item.show.id, item.show.premiered)">
								<p class="result-name">{{ item.show.name }}</p>
								<p class="date">{{ item.show.premiered.substring(0,4) }}</p>
							</div>
						</div>
					</form>
				</div>
			</section>

			<section class="main" ng-include="'./static/partials/main.html'"></section>

		</div>
		<footer ng-include="'./static/partials/footer.html'"></footer>
	</body>
</html>
