html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
  outline: none; }

a {
  text-decoration: none; }

body, html {
  height: 100%; }

ul {
  list-style-type: none; }

.button {
  font-size: 13px;
  font-weight: 700;
  padding: 8px 14px;
  color: #2A2A2A;
  border: none;
  border-radius: 2px; }

.button-primary {
  background-color: #33AFFF; }

.button-regular {
  background-color: #ECECEC; }

.button-primary:hover {
  background-color: #1fa7ff; }

.button-regular:hover {
  background-color: #e2e2e2; }

h1 {
  font-size: 26px;
  font-weight: 100;
  line-height: 34px; }

h2 {
  font-size: 30px;
  font-weight: 800; }

h3 {
  font-size: 18px;
  font-weight: 700; }

h4 {
  font-size: 17px;
  font-weight: 600; }

h5 {
  font-size: 13px;
  color: #9D9D9D; }

.ep-title {
  font-size: 16px;
  width: 130px; }

.ep-name {
  font-size: 16px;
  margin-left: 8px;
  color: #33AFFF;
  cursor: pointer; }

.ep-number {
  font-size: 15px;
  color: #9D9D9D;
  padding-top: 2px; }

.result-name {
  font-size: 15px;
  font-weight: 700; }

.date {
  font-size: 15px;
  color: #9D9D9D; }

.time {
  padding-left: 8px;
  font-size: 15px; }

.api, .author, .footer {
  font-size: 13px;
  color: #9D9D9D; }
  .api a, .author a, .footer a {
    color: #33AFFF; }

input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #9D9D9D;
  font-size: 16px; }

.login input {
  width: 250px;
  border-bottom: 1px solid #2A2A2A;
  font-size: 18px;
  margin-bottom: 22px; }

#newpassword {
  font-weight: 700;
  color: #2A2A2A;
  font-size: 12px; }

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #9D9D9D; }

.chip {
  background-color: #ECECEC;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: 700; }

.chip:hover {
  cursor: pointer; }

.selected {
  background-color: #FAE84D; }

.selected:hover {
  cursor: pointer; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end; }
  .nav :first-child {
    margin-right: 4px; }

#logo {
  align-self: flex-end;
  width: 130px; }

#close {
  width: 20px;
  position: absolute;
  top: 24px;
  right: 24px;
  opacity: 0.7; }

#close:hover {
  cursor: pointer;
  opacity: 1; }

#noaccount a {
  font-weight: 800;
  font-size: 15px;
  color: #2A2A2A;
  float: right; }

#noaccount a:hover {
  color: #33AFFF;
  cursor: pointer; }

.controls span {
  font-weight: 800;
  font-size: 13px; }

.controls span:hover {
  cursor: pointer; }

.switch {
  width: 32px;
  height: 13px;
  background-color: #FAE84D;
  margin-right: 8px;
  border-radius: 40px; }

#switch-handle {
  width: 13px;
  height: 13px;
  background-color: #2A2A2A;
  border-radius: 40px;
  float: right; }

#switch-handle:hover {
  cursor: pointer;
  width: 15px;
  height: 15px; }

.switch-off #switch-handle {
  float: left; }

.switch-off .switch {
  background-color: #ECECEC; }

.switch-off span {
  color: #9D9D9D; }

.alert {
  font-size: 14px;
  padding: 8px 14px;
  color: #2A2A2A;
  font-weight: 700;
  display: inline-block; }

.alert-warning {
  border-left: 6px solid #EF4C4C;
  background-color: #fde6e6; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label #outter {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -2px 10px 0 10px;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #DADADA; }

input[type="checkbox"] + label #inner {
  display: none;
  width: 6px;
  height: 6px;
  margin: 0 0 9px 2px;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #2A2A2A; }

input[type="checkbox"]:checked + label #outter {
  border: 1px solid #2A2A2A; }

input[type="checkbox"]:checked + label #inner {
  display: inline-block; }

input[type="checkbox"]:checked + label #outter {
  -webkit-transition: background-color 0.4s linear;
  -webkit-transition: border 0.4s linear; }

.hide-episode {
  opacity: 0.3; }

.hide-trans {
  -webkit-transition: opacity 0.4s linear; }

@media screen and (min-width: 600px) {
  h1 {
    font-size: 46px;
    line-height: 60px; }
  h3 {
    font-size: 22px; } }

.base {
  padding: 24px 12px;
  max-width: 1050px;
  margin: 0 auto;
  min-height: 100%;
  margin-bottom: -56px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px; }

.head1, .head2 {
  flex: 1 50%; }

.head2 {
  position: relative; }

.head3 {
  flex: 2 100%;
  margin-top: 24px;
  position: relative; }

.headline {
  margin: 30px 0;
  flex: 2 100%;
  transition: all linear 0.5s; }

.head2:hover > .drop-down {
  display: block; }

.drop-down {
  display: none;
  background-color: #fff;
  border: 1px solid #E1E1E1;
  border-radius: 2px;
  padding: 0px 12px 12px 12px;
  position: absolute;
  top: 30px;
  left: 10px;
  box-shadow: 0 0 4px #F0EAEA; }
  .drop-down a {
    color: #2A2A2A;
    font: bold 13px/1 "acumin-pro-semi-condensed";
    text-align: center; }

.search input {
  width: 100%;
  background: url(/static/images/searchicon.svg) no-repeat scroll 16px 16px;
  background-size: 16px;
  padding: 14px 16px 14px 48px;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  z-index: 10; }

.search input:focus {
  border: 1px solid #33AFFF;
  -webkit-transition: border 0.4s linear; }

.results {
  position: absolute;
  width: 100%;
  border: 1px solid #33AFFF;
  border-top: none;
  border-bottom: none;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(209, 209, 209, 0.6); }

.result-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
  background-color: #F4F4F4;
  border-bottom: 1px solid #33AFFF;
  padding: 12px 30px; }

.result-item:hover {
  background-color: #ECECEC;
  cursor: pointer; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start; }

.main > * {
  flex: 1 100%; }

.chip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  margin-right: 12px;
  margin-bottom: 10px;
  display: inline-block; }
  .chip img {
    width: 12px;
    margin-left: 8px; }
  .chip img:hover {
    cursor: pointer; }

button:hover {
  cursor: pointer; }

.shows-container {
  margin-bottom: 24px; }

.shows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start; }
  .shows .button {
    max-width: 98px; }

.controls-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  order: 2; }

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 32px; }

.shows-wrapper {
  order: 1;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start; }
  .shows-wrapper h3 {
    display: none; }
  .shows-wrapper .chip {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    align-items: center;
    margin-right: 12px; }

.popular {
  margin-bottom: 24px;
  transition: all linear 0.5s; }

.ng-hide {
  background-color: transparent; }

.pop-shows-wrapper {
  margin: 32px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between; }

.pop-show {
  width: 240px;
  height: 290px;
  border-radius: 6px;
  box-shadow: 10px 13px 18px 0px rgba(46, 61, 73, 0.22);
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0 8px 8px 0; }
  .pop-show .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: relative; }
    .pop-show .overlay .plus {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 24px;
      height: 24px;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease; }
  .pop-show .overlay-bottom {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 12px 20px;
    border-radius: 0 0 6px 6px; }
    .pop-show .overlay-bottom h3 {
      margin-bottom: 8px;
      font-size: 19px;
      color: #fff; }
    .pop-show .overlay-bottom span {
      color: #9D9D9D; }

.pop-show:hover {
  box-shadow: 2px 2px 5px 0px rgba(46, 61, 73, 0.2); }

.pop-show:hover .plus {
  background-color: #33AFFF; }

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.82);
  z-index: 5; }

.popup {
  position: fixed;
  height: 350px;
  width: 370px;
  left: 50%;
  top: 0px;
  transform: translate(-50%, 0);
  background-color: #fff;
  z-index: 10;
  padding: 55px 60px; }

.login {
  position: absolute;
  bottom: 55px; }

.login-message {
  margin-top: 18px; }

#newpassword {
  display: inline-block;
  margin-left: -50px; }

.popup-submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between; }

footer {
  padding: 0 12px;
  height: 56px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  align-items: center; }
  footer div {
    flex: 1 50%; }
  footer .api {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end; }

@media screen and (min-width: 600px) {
  .popup {
    top: 140px; } }

@media screen and (min-width: 740px) {
  .base {
    padding: 48px 32px; }
  .headershows .head1 {
    flex: 3 25%; }
  .headershows .head2 {
    order: 3;
    flex: 1 9%;
    align-self: flex-start; }
  .headershows .head3 {
    flex: 6 61%;
    margin: 0; }
  .headershows .headline {
    order: 4;
    flex: 3 100%; }
  .noshows .head1 {
    order: 3;
    flex: 2 30%;
    align-self: flex-end;
    margin-bottom: 6px; }
  .noshows .head2 {
    order: 1;
    flex: 5 100%; }
  .noshows .head3 {
    order: 4;
    flex: 3 60%; }
    .noshows .head3 form {
      max-width: 500px; }
      .noshows .head3 form .results {
        max-width: 500px; }
  .noshows .headline {
    order: 2;
    flex: 5 100%;
    margin: 65px 0; }
  .main {
    margin-top: 90px; }
  .search-header {
    display: inline; }
  .lists-container {
    flex: 13 62%; }
  .shows-container {
    flex: 6 22%;
    display: inline;
    margin-bottom: 0; }
  .right-column {
    flex: 1 8%; }
  .shows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start; }
  .shows-wrapper {
    order: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    align-items: flex-start; }
    .shows-wrapper h4 {
      margin-bottom: 24px;
      display: inline-block;
      margin-right: 20px; }
    .shows-wrapper .chip {
      margin-right: 8px; }
  footer {
    padding: 0 32px; } }

@media screen and (min-width: 320px) {
  .list {
    max-width: 650px;
    margin-bottom: 65px; }
    .list .head {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      border-bottom: 1px solid #9D9D9D;
      padding-bottom: 8px; }
    .list .seasons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      border-bottom: 1px solid #9D9D9D;
      padding: 12px 0 2px 0;
      margin: 0px 0 4px 0; }
    .list .episodes {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      padding: 4px 0; }
      .list .episodes div:first-child {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start; }
      .list .episodes div:last-child {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: flex-end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: flex-end;
        justify-content: flex-end; }
      .list .episodes .spacer {
        display: none; }
    .list .recent-episodes {
      background-color: #F4F4F4; }
    .list .add-all-episodes {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: flex-end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: flex-end;
      justify-content: flex-end;
      border-top: 1px solid #9D9D9D;
      padding: 8px 0;
      margin: 4px 0 0 0; }
    .list hr {
      margin: 8px 0; }
  .watchlist .head {
    border-bottom: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    padding-bottom: 16px;
    align-items: center; }
  .watchlist #watchlist-icon {
    margin-right: 12px;
    height: 16px; }
  .watchlist #watched-icon {
    margin-left: auto;
    margin-right: 8px;
    width: 16px; } }

@media screen and (min-width: 480px) {
  .list .head {
    margin: 0 40px; }
  .list .seasons, .list .summary {
    margin: 0px 40px 4px 40px; }
  .list .episodes .spacer {
    width: 40px;
    display: inline; }
  .list .add-all-episodes {
    margin: 4px 40px 0 40px; }
  .list hr {
    margin: 8px 40px; }
  .watchlist .head {
    margin: 0; }
  .watchlist #watchlist-icon {
    height: 22px;
    margin-left: 8px; } }

body {
  font-family: "acumin-pro-semi-condensed",arial, verdana, sans-serif;
  background-color: #fff;
  color: #2A2A2A; }

.ng-hide-add {
  transition: all 1s ease; }

.ng-hide-remove {
  transition: all 1s ease; }
