<!-- ========================== HEAD ============================ -->
<!-- ============================================================ -->
<div class="head1">
	<a href="/"><img src="./static/images/airdatelogo.png" id="logo"></a>
</div>
<div class="nav head2">
	<!-- <a href="#"><div class="button button-regular">Share</div></a> -->
	<a href="#"><div class="button button-primary" ng-click="showLogin = !showLogin">Log In</div></a>
</div>
<div class="headline" ng-if="userShows.length == 0">
	<h1>Get shedules for your favourite TV Shows. Add episodes to your calendar with just one click.</h1>
</div>
<div class="search head3">
	<form ng-submit="search()" >
		<input ng-model="searchTerm" placeholder="What TV Shows do you watch?" autofocus/>
		<div class="results" ng-hide="searching">
			<div class="result-item" ng-repeat="item in searchResults" 
					ng-click="select(item.show.name, item.show.id, item.show.premiered)">
				<p class="result-name">{{ item.show.name }}</p>
				<p class="date">{{ item.show.premiered.substring(0,4) }}</p>
			</div>
		</div>
	</form>
</div>