<!-- POPULAR SHOWS -->
	<section class="popular" ng-hide="!userShows.length == 0">
		<h4>🔥 Popular right now</h4>
		<div class="pop-shows-wrapper">
			<div class="pop-show" ng-repeat="show in popShows" ng-click="select(show.name, show.id, show.premiered)"
			style="background-image: url({{show.art}});background-size: 400px auto;background-position: center;">
				<div class="overlay">
					<div class="plus">
						<img src="static/images/plus-icon.svg">
					</div>
					<div class="overlay-bottom">
							<h3>{{ show.name }}</h3>
							<span>{{ show.network }}</span>
					</div>
				</div>
			</div>
		</div>
	</section>

 <!-- Your Shows List -->
<div class="shows-container">
    <div class="shows" ng-show="userShows.length > 0">
        <div class="shows-wrapper">
            <h4>Your Shows </h4>
            <div class="chip" ng-repeat="show in userShows | orderBy:'$index':true">
                <p>{{  show.name }}</p>
                <img src="./static/images/deleteicon.svg" ng-click="deleteShow(show)">
            </div>
            <!-- <div ng-click="showSignup = true" class="button button-primary">Save Shows</div> -->
        </div>
    </div>
</div>

<div class="lists-container">
	<!-- Watchlist -->
	<div class="list watchlist" ng-if="userShows.length > 0 && showWatchlist" >
		<!-- headline -->
		<div class="head">
			<img src="./static/images/watchlist.svg" id="watchlist-icon" alt="watchlist icon">
			<h3>Watchlist</h3>
			<img src="./static/images/eye.svg" id="watched-icon" alt="eye icon">
		</div>
		<!-- list of recent episodes -->
		<div class="episodes" ng-repeat="episode in recentEpisodes | orderBy:'airstamp'">
			<div ng-class="{'hide-episode': episode.watched}" class="hide-trans">
				<p class="ep-number spacer">{{ episode.season }}.{{ episode.epInSeason }}</p>
				<p class="ep-title">{{ episode.show }}</p>
				<p class="ep-name">{{ episode.name }}</p>
			</div>
			<div>
				<p class="date hide-trans" ng-class="{'hide-episode': episode.watched}">{{ episode.airdate }}</p>
				<p class="time hide-trans" ng-class="{'hide-episode': episode.watched}">{{ episode.airtime }}</p>
				<div class="spacer">
					<input type="checkbox" id="watched{{$index}}" class="watched-active" ng-click="episode.watched = !episode.watched; addEpisode(episode)">
					<label for="watched{{$index}}">
						<span id="outter">
							<span id="inner"></span>
						</span>
					</label>
				</div>
			</div>
		</div>
		<hr>
		<!-- list of upcoming episodes -->
		<div class="episodes" ng-repeat="episode in watchlist | orderBy:'airstamp'">
			<div>
				<p class="ep-number spacer">{{ episode.season }}.{{ episode.epInSeason }}</p>
				<p class="ep-title">{{ episode.show }}</p>
				<p class="ep-name">{{ episode.name }}</p>
			</div>
			<div>
				<p class="date">{{ episode.airdate }}</p>
				<p class="time">{{ episode.airtime }}</p>
				<div class="spacer"></div>
			</div>
		</div>
	</div>

<div class="right-column"></div>
